@import 'markdown.scss';

.yooz-selection {
  z-index: 9999999999;
  user-select: none;
}

.yooz-placeholder {
  position: static;
  // TODO add it to specific places, maybe you need to select some text in the future
  // user-select: none;
}

.yooz-button {
  z-index: 9999999999;
  user-select: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@keyframes push{
  50%  {transform: scale(0.8);}
}

.yooz-card {
  position: fixed;
  top: 0;
  left: 0;
  width: 460px;
  // height: "200px",
  background: #fff;
  z-index: 9999999999;
  border-radius: 10px;
  // border: 1px solid rgb(0, 0, 0, 0.2);
  filter: drop-shadow(0 25px 25px rgba(0,0,0,0.15));
  overflow: hidden;
}

.yooz-card * {
  font-size: 14px !important;
  color: #444 !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}

.yooz-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px;
  cursor: -webkit-grab;
  cursor: grab;
  background-color: rgb(64, 92, 245);
  color: #fff !important;
  cursor: all-scroll;
}

.yooz-card-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border-radius: 5px;
  color: #666 !important;
  font-weight: bold;
  margin-left: 'auto';
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.yooz-card-content {
  padding: 12px 18px;
  min-height: 200px;
  max-height: 420px;
  overflow: auto;
}

.yooz-types {
  display: flex;
  align-items: center;
  margin: 0 -5px;
}

.yooz-type {
  cursor: pointer;
  margin: 5px;
  background: #f1f2f6;
  color: #aaa;
  padding: 3px 7px;
  border-radius: 3px;
  font-size: 12px !important;
  font-weight: bold !important;
  padding: 6px 15px;
  border-radius: 5px;
}

.yooz-type-active {
  background-color: #405cf5;
  color: white !important;
}

.yooz-card-footer {
  padding: 14px 18px 14px 18px;
  display: flex;
  justify-content: end;
  background: #f2f2f2;
}

.yooz-card-row {
  margin: 15px 0;
}

.yooz-card-content > .yooz-card-row:first-child {
  margin-top: 7.5px;
}

.yooz-card-label {
  display: block;
  margin-bottom: 7px;
  font-weight: bold;
}

.yooz-card-textarea {
  outline: 0 !important;
  border-radius: 5px !important;
  width: 100% !important;
  box-shadow: none !important;
  border: 1px solid #e9e9e9 !important;
  background: #f6f6f6 !important;
  border-style: solid !important;
  padding: 3px 8px !important;
  width: 100% !important;
  -webkit-box-sizing: border-box !important;;
  -moz-box-sizing: border-box !important;;
  box-sizing: border-box !important;;
}

// .yooz-generate-button {
//   background: #2980b9;
//   color: white;
//   padding: 5px 8px;
//   border-radius: 5px;
//   margin-bottom: 5px;
// }

/* CSS */
.yooz-generate-button {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset,rgba(50, 50, 93, .1) 0 2px 5px 0,rgba(0, 0, 0, .07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff !important;
  cursor: pointer;
  font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
  font-size: 100%;
  height: 34px;
  line-height: 1.15;
  outline: none;
  overflow: hidden;
  padding: 0 22px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all .2s,box-shadow .08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.yooz-generate-button:disabled {
  cursor: default;
}

.yooz-generate-button:focus {
  box-shadow: rgba(50, 50, 93, .1) 0 0 0 1px inset, rgba(50, 50, 93, .2) 0 6px 15px 0, rgba(0, 0, 0, .1) 0 2px 2px 0, rgba(50, 151, 211, .3) 0 0 0 4px;
}

.yooz-notif {
  padding: 10px;
  border-radius: 4px;
  background-color: rgba(255, 118, 117, 0.1);
}